src/golem-control-plane/.env
.venv
*.pyc
*.pyo
.pytest_cache
.mypy_cache/
.pytest_cache/
.vscode/
deploy/
docs/
tests/
.git/
.gitignore
.pre-commit-config.yaml
.secrets.baseline
**/__pycache__/*
.env.example
.env
Dockerfile
.dockerignore