# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
.pytest_cache/

# Environments
.env
.venv

# mypy
.mypy_cache/

# Ruff
.ruff_cache/


# K8s secrets (never commit real values)
deploy/**/secret.yaml
